@page
@model DataPiratesTeam.Pages.InfoSs.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Major)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Major)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.University)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.University)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Interest)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Interest)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Work_Experience)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Work_Experience)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Gpa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Gpa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InfoS.Graduation_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InfoS.Graduation_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.InfoS.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
